# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environment
.venv/
env/

# VSCode
.vscode/
.idea/

# Django
staticfiles/
media/

# Node
node_modules/
dist/

# Others
*.env
